/EmployerManagment.Domain/bin
/EmployerManagment.Domain/obj
/Domain/bin
/Domain/obj
/EmployerManagment.DomainEvents/obj
/EmployerManagment.DomainEvents/bin
/.vs
/EmployerManagment.Application/obj
/EmployerManagment.Application/bin
/EmployerManagment.Infrastructure/obj
/EmployerManagment.Infrastructure/bin
/EmployerManagment.API.Employment/obj
/EmployerManagment.API.Employment/bin
/PaycheckManagment.Application/obj
/PaycheckManagment.Domain/obj
/PaycheckManagment.Infrasctructure/obj
/PaycheckManagmentAPI/obj
/PaycheckManagmentAPI/bin/Debug/net8.0
/PaycheckManagment.Infrasctructure/bin/Debug/net8.0
/PaycheckManagment.Domain/bin/Debug/net8.0
/PaycheckManagment.Application/bin/Debug/net8.0
